* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
  text-decoration: none;
}
.divSpace {
  margin-top: 80px;
}

/* Navbar Section */

.navbar {
  background-color: transparent;
  flex-direction: row;
  height: 100px;
}

.navScroll {
  background-color: #e30613;
}

#navLogo {
  padding-left: 10rem;
  padding-right: 25rem;
}

.navLinks {
  text-decoration: none;
  color: #fff;
}

.navLinks:hover {
  color: #000;
}

@media only screen and (max-width: 960px) and (min-width: 750px) {
  #navLogo {
    padding-left: 5rem;
    padding-right: 0rem;
  }
}

@media (max-width: 750px) {
  .navbar {
    background-color: #e30613;
  }

  #navLogo {
    padding-left: 0%;
    padding-right: 0%;
  }

  .navLinkBlock {
    background-color: #e30613;
  }

  .navLinks {
    display: flex;
    justify-content: center;
    color: #fff;
  }
  .mobileDiv {
    margin-top: 100px;
  }
}

@media (max-width: 400px) {
  #navLogo {
    width: 90%;
    padding-left: 0%;
    padding-right: 0%;
  }
  .navbarHamburger {
    display: flex;
    flex-direction: row;
  }
}

/* Slider */
.slider {
  width: 100%;
  height: auto;
  margin: auto;
}

/* Footer */
footer {
  background-color: #e30613;
  width: 100%;
  padding-top: 1.9rem;
  padding-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.footerBlock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footerLinkBlock {
  display: flex;
  flex-direction: row;
}

footer a {
  text-decoration: none;
  color: #fff;
}
footer a:hover {
  text-decoration: none;
  color: #000;
}
.footerContact {
  margin-left: 5rem;
  color: #fff;
  width: 35rem;
}
.footerContact span {
  font-style: italic;
  font-weight: 300;
}
.footerSocial {
  margin-left: 5rem;
  color: #fff;
  width: 15rem;
}
.footerSocial a {
  margin-left: 5%;
}
.footerSocial {
  color: #fff;
}
footer hr {
  color: #fff;
}
@media (max-width: 960px) {
  .footerBlock {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footerLinkBlock {
    display: flex;
    flex-direction: column;
  }

  .footerContact {
    margin: 1rem;
    color: #fff;
    width: auto;
    height: auto;
  }

  .footerSocial {
    margin: 1rem;
    color: #fff;
    width: auto;
    height: auto;
  }
}
