/*
======================================================================
*   Intern Web Site Project
*   url: github.com/mkonuk66/internProject
*   16-08-2021
======================================================================
   TOC:
        a. General Style
        b. Navbar Section
        c. Footer Section
        d. Slider Section
        e. Not Found Section
   
   
====================================================================== */

/* ========================== General Style ========================== */

* {
  font-family: Oswald, sans-serif;
}

a {
  text-decoration: none;
}

.divSpace {
  margin-top: 8rem;
}

/* ========================== Navbar Section ========================== */

.navbar {
  background-color: transparent;
  flex-direction: row;
  height: 100px;
}

.navScroll {
  background-color: rgba(118, 7, 16);
}

#navLogo {
  width: 250px;
  margin-left: 10rem;
  margin-right: 20rem;
}

.navLinks {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  transition: all 0.35s ease;
  position: relative;
}

.navLinks:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fff;
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
}

.navLinks:hover {
  color: rgb(168, 168, 168);
}

.navLinks:hover:after {
  width: 100%;
  left: 0;
  background: rgb(168, 168, 168);
}

@media only screen and (max-width: 960px) and (min-width: 750px) {
  #navLogo {
    padding-left: 5rem;
    padding-right: 0rem;
  }
}

@media (max-width: 750px) {
  .navbar {
    background-color: rgba(118, 7, 16);
  }

  #navLogo {
    margin-left: 0%;
    margin-right: 0%;
  }

  .navLinkBlock {
    background-color: rgba(118, 7, 16);
  }

  .navLinks {
    display: flex;
    justify-content: center;
    color: #fff;
  }

  .mobileDiv {
    margin-top: 100px;
  }
}

@media (max-width: 400px) {
  #navLogo {
    width: 90%;
    margin-left: 0%;
    margin-right: 0%;
  }

  .navbarHamburger {
    display: flex;
    flex-direction: row;
  }
}

/* ========================== Slider Section ========================== */

.slider {
  width: 100%;
  height: auto;
  margin: auto;
}

/* ========================== Footer Section ========================== */

footer {
  background-color: rgba(118, 7, 16);
  width: 100%;
  padding-top: 1.9rem;
  padding-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: bold;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  color: rgb(168, 168, 168);
}

footer hr {
  color: #fff;
}

.footerBlock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footerLinkBlock {
  display: flex;
  flex-direction: row;
}

.footerYoutube:hover {
  color: #e62117;
}

.footerTwitter:hover {
  color: #08a0e9;
}
.footerInstagram {
  display: inline-flex;
}
.footerInstagram:hover {
  background: -moz-linear-gradient(top, #ffdc80 0%, #a742c6 100%);
  background: -webkit-linear-gradient(top, #f77737 0%, #a742c6 100%);
  background: linear-gradient(to bottom, #e1306c 0%, #a742c6 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footerFacebook:hover {
  color: #3b5998;
}

.footerContact {
  margin-left: 5rem;
  color: #fff;
  width: 35rem;
}

.footerContact span {
  font-style: italic;
  font-weight: 300;
}

.footerSocial {
  margin-left: 5rem;
  color: #fff;
  width: 15rem;
}

.footerSocial a {
  margin-left: 5%;
}

.footerSocial {
  color: #fff;
}

@media (max-width: 960px) {
  .footerBlock {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footerLinkBlock {
    display: flex;
    flex-direction: column;
  }

  .footerContact {
    margin: 1rem;
    color: #fff;
    width: auto;
    height: auto;
  }

  .footerSocial {
    margin: 1rem;
    color: #fff;
    width: auto;
    height: auto;
  }
}

/* ========================== Not Found Section ========================== */

.notFound {
  width: 100vw;
  padding-top: 5rem;
  height: 60vh;
  font-size: 50px;
  text-align: center;
}

/* =========================== Notice Section =========================== */

.notice {
  font-family: "Open Sans";
  color: white;
}

.noticeTitle {
  text-align: center;
  font-size: 35px;
  font-weight: 900;
}

.notice a {
  text-decoration: none;
  padding: 2px 5px;
  color: black;
}

.notice a:hover {
  transition: 0.66s ease;
  color: rgba(118, 7, 16);
}

.notice p {
  padding: 2px 5px;
  color: black;
}

.notice p:hover {
  transition: 0.66s ease;
  color: rgba(118, 7, 16);
}

.allNoticeP {
  width: 1000px;
  margin-bottom: 5%;
}
@media (max-width: 960px) {
  .allNoticeP {
    width: 100%;
    margin-bottom: 5%;
  }
}
.noticeDate {
  display: flex;
  background-color: rgba(118, 7, 16);
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: groove;
  border-radius: 1rem;
  width: 4rem;
  height: 4rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
.noticeDate:hover {
  transition: 0.36s ease;
  cursor: pointer;
  color: black;
  background-color: white;
}

/* =========================== Events Section =========================== */

.event {
  font-family: "Open Sans";
  color: white;
}

.eventTitle {
  text-align: center;
  font-size: 35px;
  font-weight: 900;
}

.event a {
  text-decoration: none;
  padding: 2px 5px;
  color: black;
}
.event a:hover {
  transition: 0.66s ease;
  color: rgba(118, 7, 16);
}

.eventDate {
  display: flex;
  background-color: rgba(118, 7, 16);
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: groove;
  border-radius: 1rem;
  width: 4rem;
  height: 4rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
.eventDate:hover {
  transition: 0.36s ease;
  cursor: pointer;
  color: rgba(118, 7, 16);
  background-color: white;
}

.event p {
  padding: 2px 5px;
  color: black;
}

.allEventP {
  width: 1000px;
  margin-bottom: 5%;
}

@media (max-width: 960px) {
  .allEventP {
    width: 100%;
    margin-bottom: 5%;
  }
}

.event p:hover {
  transition: 0.66s ease;
  color: rgba(118, 7, 16);
}

/* ============================ Yobü Section ============================ */
.yobu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.yobuShadows {
  position: relative;
  text-transform: uppercase;
  text-shadow: -15px 5px 20px rgb(66, 66, 66);
  color: rgba(118, 7, 16);
  letter-spacing: -0.05em;
  user-select: none;
  text-transform: uppercase;
  font-size: 100px;
  transition: all 0.25s ease-out;
}

.yobuHr {
  color: #000;
  margin-left: 4rem;
  margin-right: 4rem;
}

/* ========================== Homepage Section ========================== */

.homepageBlocks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.homepageHr {
  width: 2px;
  border-bottom: 300px;
  border-style: dotted;
}
@media (max-width: 960px) {
  .homepageBlocks {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .homepageHr {
    border-style: none;
  }
}
